html {
  margin: 0;
}
span{
    display:block;}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
  border-radius: 50%;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#yellow {
  background: yellow;
}
#purple{
  background: purple;
}
#pink{
  background: pink;
}

nav {
  background-color: #2a2929;
  padding: 8px 20px;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding: 1px 12px;

}

nav a:hover {
  background-color: #ffffff;
  color: #212121;
  border-radius: 4px;
}
